<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTTPDumper</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('parts/header') %> 
    <section>
        <h2>What is HTTPDumper?</h2>
        <hr>
        <p>HTTPDumper is a great tool for testing web apps.</p>
        <p> You can send requests to predefined URL and view them requests on another page.</p>
    </section>
    <section>
        <h2>How to use?</h2>
        <hr>
        <p>Press the "New Dump" button. </p>
    </section>
    <section>
        <h2>Coming soon:</h2>
        <hr>
        <ul>
            <li>API</li>
            <li>Expire date</li>
            <li>Accounts</li>
            <li>Better error pages</li>
            <li>Move to GraphQL</li>
            <li>Copypasta</li>
            <li>Highlight</li>
            <li>Dump saved to session</li>
            <li>Date to dump row</li>
        </ul>
    </section>
</body>
</html>